#include <dt-bindings/phy/phy.h>

&i2c_mgmt {
	i2c_mux@74 {
		compatible = "nxp,pca9547";
		reg = <0x74>;
		#address-cells = <1>;
		#size-cells = <0>;

		i2c_mux@0 {
			reg = <0>;
			sysmon: lm96080@2f {
				status = "okay";
				compatible = "lm80";
				reg = <0x2f >;
			};
			ioexpander0: ioexpander0@20 {
				status = "disabled";
				compatible = "nxp,pcal6416";
				reg = <0x20>;
				gpio-controller;
				#gpio-cells = <2>;
			};
			ioexpander1: ioexpander1@21 {
				status = "disabled";
				compatible = "nxp,pcal6416";
				reg = <0x21>;
				gpio-controller;
				#gpio-cells = <2>;
			};
			at24: at24@56 {
				compatible = "atmel,24c32";
				reg = <0x56>;
				pagesize = <32>;
			};
			fan_controller: fan_controller@4c {
				compatible = "national,lm96163";
				reg = <0x4c>;
			};
		};
		i2c_mux@2 {
			reg = <2>;
			ioexpander2: ioexpander2@20 {
				status = "disabled";
				compatible = "nxp,pcal6416";
				reg = <0x20>;
				gpio-controller;
				#gpio-cells = <2>;
			};
		};
	};
};

&i2c_user {
	i2c_mux@75 {
		compatible = "nxp,pca9547";
		reg = <0x75>;
		#address-cells = <1>;
		#size-cells = <0>;
	};
};

&sdhci1 {
	wp-inverted;
};

&dwc3_0 {
	dr_mode = "otg";
	phy-names = "usb3-phy";
	phys = <&psgtr 2 PHY_TYPE_USB3 0 2>;
	maximum-speed = "super-speed";
};

&zynqmp_dpsub {
	phy-names = "dp-phy0", "dp-phy1";
	phys = <&psgtr 1 PHY_TYPE_DP 0 3>, <&psgtr 0 PHY_TYPE_DP 1 3>;
};

&zynqmp_dp_snd_pcm0 {
	status = "disabled";
};

&zynqmp_dp_snd_pcm1 {
	status = "disabled";
};

&zynqmp_dp_snd_card0 {
	status = "disabled";
};

&zynqmp_dp_snd_codec0 {
	status = "disabled";
};
